stages:
  - build

variables:
  NIX_PATH: nixpkgs=channel:nixos-25.05

build:
  stage: build
  image: nixos/nix:2.18.1
  script:
    - nix --extra-experimental-features 'nix-command flakes' build
    - sha1sum result/share/**/*.jar
    - md5sum result/share/**/*.jar
    - mkdir -p target/
    - cp result/share/**/*.jar target/
  artifacts:
    paths:
      - target/*.jar
    expire_in: 7 days
